.roomlistContainer {
  flex: 1;
  height: 50%;
  overflow-y: scroll;
}

.roomlistMargin {
  margin: 10px 0 20px;
}

.roomlistUl {
  list-style: none;
  margin-top: 5px;
}

.roomlistLi {
  margin-bottom: 5px;
  cursor: pointer;
  color: #FFF;
}

.roomlistBorder {
  border-bottom: 1px solid white;
  margin-bottom: 5px;
}